*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body{
    background-image: url(./Assets/folhas-de-palmeira-tropical-padrao-de-fundo-projeto-de-decoracao-de-folhagem-de-arvore-monstera-verde-planta-com-folha-exotica-fechada.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Martel Sans', sans-serif;

}


.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.boxelemento{
    width: 500px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    color: rgb(7, 70, 33);
    background: white;
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    box-shadow: 10px 10px 3px #62856b, 0 0px 5px #ffffff,
    10px 20px 30px #3e8c51;

}
 
span{
    font-size: 30px;
}

   a{
    color: #ffffff;
    background-image: linear-gradient(90deg, #398658, #195516);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
   }
    
   a:focus{
       opacity: .8;
   }

.animacaoBorda{
    width: 400px;
    height: 90%;
    background:white;
    border: solid #2f942b;
    border-radius: 15px;
   position: absolute;
   animation: rotate 5s infinite ease-in-out;
}

.corner{
    width: 380px;
    height: 85%;
    background: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.content{
 background: white;
  border: solid 2px #2f942b;
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  border-radius: 20px;
 padding: 10px;
}

@keyframes rotate{
    100% {
        transform: rotate(360deg);
    }
}


.boxtexto{

    width: 50vw;

}

.boxelementos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 420px;
  height: 70%;
  

}
.boxlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 90%;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(12px);
    text-align: center;
    border: 2px solid rgb(255, 255, 255, .2);
    padding: 50px;

}

.boxlogin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

.boxlogin input {
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 58px;
    border: #195516 1px solid;
    padding-left: 16px;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.boxlogin input:focus {
    border: 2px solid rgba(255, 255, 255, .3);
}

.boxlogin input::placeholder {
    color: #fffffffc;
}

.boxlogin button {
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #398658;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}
.boxlogin button:hover {
    background-color:#195516 ;}

.boxlogin .divisao {
    display: block;
    height: 2px;
    width: 80%;
    background-color: rgb(245, 250, 255);
    margin-top: 32px;
    opacity: .2;
}

.boxlogin a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    background: none;
}

.boxlogin a:hover {
    text-decoration: underline;
}

.boxlogin .title {
    color: #ffffffee;
    font-size: 30px;
   
}

ul{
    display: flex;
    list-style-type: none;
}

ul a img{
    width: 35px;
}

ul a img:hover{
    scale: 1.1;
    opacity: .9;
}

.logo{
    display: none;
}
@media (max-width:1200px){

     
    body{
       height:100vh;

      display: flex;
      justify-content: center;
      align-items: center;
     
    }
     
    .boxelemento{
        display: none;
    }
     
   
   .container{
    width: 200px;
}  

.boxelementos{
   width: 370px;
}
    .boxlogin input{
    height: 40px;
   }

   .boxlogin button{
    height: 40px;
}
     
    .logo {
        display: flex;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        background: linear-gradient(45deg, #ffffff, #6fc58f, #ffffff, #21fe67);
        background-size: 400% 100%;
        animation: degrade 10s linear infinite alternate;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    @keyframes degrade {
        0% {
            background-position: 0%;
        }
    
        100% {
            background-position: 400%;
        }

}}